
@model  IEnumerable<VismaUtvikler.Models.Customer>
@{
    ViewBag.Title = "Kunder";
}

<h2>Kundeoversikt</h2>

     
                 @Html.ActionLink("Legg til kunde", "addCustomer")
      
       
            
        
   

<div id="content">

    <table id="customers" class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Firmanavn</th>
            <th>Adresse</th>
            <th>Postnummer</th>
            <th>Telefon</th>
            <th> Fax</th>
            <th>Mail</th>
           <th>Edit |<span class='glyphicon glyphicon-trash'></span>| Kunde Detaljer </th>
          

        </tr>
        </thead>
        <tbody id="result">

        </tbody>

    </table>
    <div id="oneCustomer" display="none">
        <h2 id="Firmname"></h2>
    </div>
</div>@*Content div*@

@section scripts{
    
    <script>
        $(document).ready(function () {
            var responsedata;
        $.ajax({
                url: "/api/customers",
                method: "GET",
                dataType: 'json'
                
        }).done(function (data) {
            responsedata = data;
                    console.log(data);
                    $.map(data, function (post, i) {
                        $("#result").append(
                            "<tr class='clickable-row' data-href='#'>" +
                       
                            "<td>" + post.FirmName + "</td>"
                            + "<td>" + post.Adress + "</td><td>" + post.PostalCode + "</td><td>" + post.PhoneNumber + "</td><td>" + post.FaxNumber + "</td><td>" + post.MailAdress + "</td>" +
                           "<td><a href='/customers/Edit/" + post.Id + "'> <span class='glyphicon glyphicon-pencil'></span></a><button class='btn-link js-delete' data-customer-id=" + post.Id + ">   | <span class='glyphicon glyphicon-trash'></span>|</button><a href='/customers/Details/" + post.Id + "'>  Detaljer </a></button> </td>" +
                            " </tr>" 
                      
                        )
                  })
                })

         
        
            $("#customers").on("click",".js-delete",function () {
                var button = $(this);
                //bootbx confirm er et alternativ til vanlig confirmbox
                bootbox.confirm("Er du sikker på at du vil slette denne kunden?", function(result) {
                    if (result) {

                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                console.log("Kunden er slettet success!!");
                                button.parents("tr").remove();
                            }
                        })

                    }
                })

            })
            $("#search").keyup(function() {
                //tømmer result tabel for innhold
                $("#result").html('');
                //plasserer verdien i søkefeltet i searchField variablen       |</button><a href='/customers/Details/" + post.Id + "'>Details </a></button>
                var searchField = $("#search").val();
                console.log(searchField);
                //lager en regular expressin variable
                var expression = new RegExp(searchField, "i");
                console.log(responsedata);
            
                $.each(responsedata,
                    function (key, value) {
                        console.log("Logg fra search value",value)
                        if (value.FirmName.search(expression) != -1 || value.Adress.search(expression) != -1||value.MailAdress.search(expression)!=-1) {
                            $("#result").append("<tr><td>" + value.FirmName + "</td>" +
                                "<td>" + value.Adress + "</td><td>" + value.PostalCode + "</td>" +
                                "<td>" + value.PhoneNumber + "</td><td>" + value.FaxNumber + "</td>" +
                                "<td>" + value.MailAdress + "</td> <td>" +
                                "<a href='/customers/Edit/" + value.Id + "'><span class='glyphicon glyphicon-pencil'></span> " +
                                "|</a><button class='btn-link js-delete' data-customer-id=" + value.Id +
                                ">| <span class='glyphicon glyphicon-trash'></span>  |</button>" +
                                "<a href='/customers/Details/" + value.Id + "'>Details " +
                                "</tr>")
                        }
                    })
                
            });



            ////Lager tabelrow til linker
            $("#customers").on('click-row.bs.table', function (e, row, $element) {
                alert("")
                window.location = $element.data('href');
            });
        });










    </script>

}