body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#customerSearchBox{
    float:right;
}
#typelist{
   
    display:inline;
    list-style: none;
}
#Customertypes {
    border:blue,solid;
    border-radius:20px;
   
}
#customerType{
    margin-bottom: 50px
}
#selectDiv{
    float:right;
  
   padding-right: 20px;
  
}
#contactPersonWaring{
margin:0px;
clear:both;
}
#detailHeading{
    margin:auto;
    margin-top:5px;
    margin-bottom: 30px;
    font-size:200%
    
}